/*  TABLE OF CONTENTS

    [X] IMPORTS
    [B] BORDER CHECK

    [1] GLOBAL
    [2] SIDEBAR
    [3] MAIN
    [4] BUTTONS
    [5] GALLERY
    [6] ABOUT TEXT
    [7] PROD DESC
    [8] CONTACTS    
    [9] FOOTER

/* 

/* [X] IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* [B] BORDER CHECK
* {
    border: 1px solid rgb(120, 212, 59);
} */

/* [1] GLOBAL */
* {
    font-family: inconsolata;
}

/* [2] SIDEBAR */
.sidebar { /* sidebar wrapper */
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 6rem;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
}
.sidebar-nav ul {
    padding: 0;
    list-style-type: none;
    margin: 2rem 0 2rem 0;
    height: 100%;
}
.sidebar-nav li {
    margin-bottom: 2rem;
}
.sidebar-nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.2 ease;
}
.sidebar-nav a:hover {
    color: rgb(103, 203, 236);
}
.fi { /* icon */
    font-size: 30px;
}
.bottom-link {
    margin-top: 16rem;
}
#active-icon {
    width: 30px;
    padding-bottom: 0.8rem;
}

/* [3] Main */
main {
    margin-block: 3rem;
    margin-inline: 11rem 6rem;
}
.hero {
    background-image: url('../images/xuan-thu-le-2OXNxfTt3kQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hero-content {
    color: white;
    display: flex;
    justify-content: space-between;
}
.hero-text {
    padding: 0 0 3rem 4rem;
}
.hero-text p {
    font-size: 30px;
}
.hero-link {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hero-text h1 {
    font-weight: 800;
    font-size: 120px;
}
.shop-hero {
    background-image: url('../images/xuan-thu-le-2OXNxfTt3kQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.shop-hero-content {
    color: white;
    display: flex;
    flex-direction: column;
}    
.shop-hero-text {
    font-weight: 800;
    font-size: 120px;
    padding: 0 0 0 4rem;
}
.shop-hero-links {
    margin-left: 3rem;
}
.hero-shop-cat {
    background-image: url('../images/xuan-thu-le-2OXNxfTt3kQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hero-shop-cat-content {
    color: white;
    display: flex;
    justify-content: space-between;
}

/* [4] BUTTONS */
/* [4.1] GENERAL BUTTONS */
.btn-hero {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 4rem 3rem 0;
}
.btn-hero::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: height 0.1s ease;
    z-index: -1;
}
.btn-hero:hover {
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}
.btn-hero:hover::before {
    height: 100%;
}
.btn-gallery {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn-gallery::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: height 0.1s ease;
    z-index: -1;
}
.btn-gallery:hover {
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}
.btn-gallery:hover::before {
    height: 100%;
}
.btn-shop-hero {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 0 3rem 2rem;
}
.btn-shop-hero::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: height 0.1s ease;
    z-index: -1;
}
.btn-shop-hero:hover {
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}
.btn-shop-hero:hover::before {
    height: 100%;
}
.btn-black {
    font-size: 40px;
    font-weight: 600;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 4rem 3rem 0;
}
.btn-black::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: height 0.1s ease;
    z-index: -1;
}
.btn-black:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.1s ease;
}
.btn-black:hover::before {
    height: 100%;
}
/* [4.2] SIZE OPTION BUTTONS */
.size-options {
    display: flex;
}
.size-option {
    margin-right: 15px;
}
.size-option input[type="radio"] {
    display: none; /* Hide the actual radio buttons */
}
.size-option span {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.2rem 2rem;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.size-option input[type="radio"]:checked + span {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

/* [5] GALLERY */
.featured {
    margin-block: 4rem;
}
.featured-title {
    margin-bottom: 2rem;
}
.featured h2 {
    font-weight: 700;
    text-align: center;
}
.featured-select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    height: 25rem;
}
.featured-item {
    position: relative;
    overflow: hidden;
}
.featured-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.2s ease;
    color: #fff;
    font-size: 18px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.featured-item:hover .item-overlay {
    opacity: 1;
}
.item-overlay h3 {
    font-weight: 300;
}
.item-overlay h2 {
    text-align: start;
    font-weight: 500;
}
.item-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.item-link {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 0.5rem;
}

/* [6] ABOUT TEXT */
.about {
    margin-block: 5rem 3rem;
}
.about-title {
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 69px;
    text-align: center;
}
.about p {
    margin-inline: 5rem;
    font-size: 24px;
    text-align: justify;
}

/* [7] PROD-DESC */
.prod-main {
    margin-block: 7rem;
    margin-inline: 27rem 24rem;
    display: flex;
    justify-content: space-between;
}
.prod-right {
    margin-top: 4rem;
    width: 25rem;
}
.prod-left {
    width: 35rem;
}
.prod-img {
    max-height: 35rem;
    overflow: hidden;
}

.prod-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prod-desc-text {
    margin-block: 3rem;
    text-align: justify;
    width: 35rem;
    font-weight: 500;
    font-size: 24px;
}
.prod-title {
    font-weight: 700;
    font-size:3.5rem;
}
.prod-price {
    font-size: 2rem;
    font-weight: 400;
}
.prod-size-header {
    font-weight: 700;
}
.prod-info-text, .prod-size-sel {
    margin-bottom: 5rem;
}

/* [8] CONTACTS */

.contacts{
    margin-bottom: 5rem;
}

.contacts h2 {
    font-size: 50px;
}

.contacts input,
.contacts textarea{
    width: 100%;
    border: 2px solid black;
    border-radius: 0;
}

.contacts .form-control:focus {
    border-color: rgb(0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(55, 55, 55, 0.6);
}

.contactinfo .btn-black{ 
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.contactinfo h2{
    font-size: 24px;
    font-weight: bold;
}

.contactinfo h4{
    font-size: 18px;
    font-weight: 500;
}

/* [9] FOOTER */
.footer {
    margin-bottom: 2rem;
    margin-inline: 30rem;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.footer-item {
    text-align: center;
}
.footer-item ul {
    list-style-type: none;
    padding: 0;
}
.footer-item ul li {
    margin-bottom: 5px;
}
.footer-item a {
    color: black;
    font-weight: 800;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-item a:hover {
    color: #ccc;
}
