/*  TABLE OF CONTENTS

    [X] IMPORTS
    [B] BORDER CHECK

    [1] GLOBAL
    [2] SIDEBAR
    [3] MAIN
    [4] BUTTONS
    [5] GALLERY
    [6] ABOUT TEXT

/* 

/* [X] IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* [B] BORDER CHECK
* {
    border: 1px solid rgb(120, 212, 59);
} */

/* [1] GLOBAL */
* {
    font-family: inconsolata;
}

/* [2] SIDEBAR */
.sidebar { /* sidebar wrapper */
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 6rem;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
}
.sidebar-nav ul {
    padding: 0;
    list-style-type: none;
    margin: 2rem 0 2rem 0;
    height: 100%;
}
.sidebar-nav li {
    margin-bottom: 2rem;
}
.sidebar-nav a { /* change background on hover */
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.fi { /* icon */
    font-size: 30px; /* adjust icon size */
}
.bottom-link {
    margin-top: 16rem;
}
#active-icon {
    width: 30px;
}

/* [3] Main */
main {
    margin-top: 3rem;
    margin-inline: 11rem 6rem;
}
.hero {
    background-image: url('/images/xuan-thu-le-2OXNxfTt3kQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hero-content {
    color: white;
    display: flex;
    justify-content: space-between;
}
.hero-text {
    padding: 0 0 3rem 4rem;
}
.hero-text p {
    font-size: 30px;
}
.hero-link {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hero-text h1 {
    font-weight: 800;
    font-size: 120px;
}

/* [4] BUTTONS */
.btn-hero {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 4rem 3rem 0;
}
/* Underline styles */
.btn-hero::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: height 0.1s ease;
    z-index: -1;
}
.btn-hero:hover {
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}
.btn-hero:hover::before {
    height: 100%;
}
.btn-gallery {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn-gallery::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: height 0.1s ease;
    z-index: -1;
}
.btn-gallery:hover {
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}
.btn-gallery:hover::before {
    height: 100%;
}

/* [5] GALLERY */
.featured {
    margin-block: 4rem;
}
.featured-title {
    margin-bottom: 2rem;
}
.featured h2 {
    font-weight: 700;
    text-align: center;
}
.featured-select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    height: 25rem;
}
.featured-item {
    position: relative;
    overflow: hidden;
}
.featured-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #fff;
    font-size: 18px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.featured-item:hover .item-overlay {
    opacity: 1;
}
.item-overlay h3 {
    font-weight: 300;
}
.item-overlay h2 {
    text-align: start;
    font-weight: 500;
}
.item-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.item-link {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 0.5rem;
}

/* [6] ABOUT TEXT */

